<div *ngIf="message">
    <div *ngIf="message.time">
        <span>{{message.user.username}} connected on {{message.time | date: 'medium'}}</span>
    </div>
    <div *ngIf="message.msg">
        <span>{{message.username}} : {{message.msg.message}}</span>
    </div>
    <div *ngIf="message.user && message.message">
        <span>{{message.user.username}} : {{message.message}}</span>
    </div>
    <div *ngIf="message.disconnected_username">
        <span>{{message.disconnected_username}} disconnected on {{message.disconnect_time | date: 'medium' }}</span>
    </div>
</div>