<div *ngIf="userData">
    <h1>{{userData.username}}</h1>
    <div *ngIf="userStatus">
        <span>Status: {{userStatus}}</span>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="goToPrivateChat()">Private Chat</button>
    <div>
        <h3>Messages: </h3>
        <div>
            <ul>
                <li *ngFor="let message of userData.messages">
                    <div>
                        <span><b>message: </b>{{message.message}}</span><br/>
                        <span><b>sent on: </b>{{message.added | date: 'medium'}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>